html {
  overflow-x: hidden; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
  font-size: 15px;
  color: #7a7a7a;
  background: #fff;
  overflow-x: hidden; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible; }

a {
  color: #e84545;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    color: #e84545;
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  color: #000839; text-align: center;}

.text-primary {
  color: #e84545 !important; }

.text-black {
  color: #000000 !important; }

a.text-primary {
  color: #e84545 !important; }
  a.text-primary:hover {
    color: #e84545 !important; }

.bg-primary {
  background-color: #e84545 !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "Montserrat", sans-serif; }

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  font-size: 14px; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #e84545;
    border-color: #e84545; }
    .btn.btn-primary:hover {
      border-color: #ea5757;
      background: #ea5757; }
  .btn.btn-white {
    background-color: #ffffff; }
    .btn.btn-white:hover {
      background-color: transparent;
      border-color: #ffffff;
      color: #ffffff; }
  .btn.btn-outline-white {
    border: 1px solid #ffffff; }
    .btn.btn-outline-white:hover {
      background: #ffffff;
      color: #e84545 !important; }
  .btn.btn-outline-black {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .btn.btn-outline-black:hover {
      background: transparent;
      color: #e84545 !important; }

.form-control, .custom-select {
  border: 2px solid #e9ecef;
  font-size: 16px;
  height: 45px; }
  .form-control:active, .form-control:focus, .custom-select:active, .custom-select:focus {
    border-color: #e84545;
    -webkit-box-shadow: none;
    box-shadow: none; }

.gutter-v1 {
  margin-right: -20px;
  margin-left: -20px; }
  @media (max-width: 991.98px) {
    .gutter-v1 {
      margin-left: -15px;
      margin-right: -15px; } }
  .gutter-v1 > .col,
  .gutter-v1 > [class*="col-"] {
    padding-right: 20px;
    padding-left: 20px; }
    @media (max-width: 991.98px) {
      .gutter-v1 > .col,
      .gutter-v1 > [class*="col-"] {
        padding-right: 15px;
        padding-left: 15px; } }

.spinner-border {
  color: #e84545; }

/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.position-relative {
  position: relative; }

.logo {
  position: absolute;
  left: 0;
  z-index: 9;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .logo a {
    color: #e84545; }

.site-nav {
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  z-index: 99; }

.menu-absolute {
  position: absolute;
  right: 15px; }

.site-nav {
  padding-top: 20px;
  padding-bottom: 20px; }
  .site-nav h1 {
    margin: 0;
    padding: 0;
    font-size: 24px; }
  .site-nav .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-nav .site-navigation .site-menu > li {
      display: inline-block; }
      .site-nav .site-navigation .site-menu > li > a {
        font-size: 14px;
        padding: 10px 15px;
        color: rgba(255, 255, 255, 0.7);
        display: inline-block;
        text-decoration: none !important; }
        .site-nav .site-navigation .site-menu > li > a:hover {
          color: #ffffff; }
      .site-nav .site-navigation .site-menu > li.cta-button a {
        padding: 6px 20px;
        border: 1px solid transparent;
        color: #ffffff;
        background: #e84545;
        border-radius: 4px; }
        .site-nav .site-navigation .site-menu > li.cta-button a:hover {
          color: #ffffff;
          background-color: transparent;
          border-color: rgba(255, 255, 255, 0.3); }
      .site-nav .site-navigation .site-menu > li.active > a {
        color: #ffffff; }
    .site-nav .site-navigation .site-menu .has-children {
      position: relative; }
      .site-nav .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-nav .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 14px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-nav .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        z-index: 999;
        position: absolute;
        text-align: left;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #ffffff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px; }
        .site-nav .site-navigation .site-menu .has-children .dropdown a {
          font-size: 14px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000000; }
        .site-nav .site-navigation .site-menu .has-children .dropdown .active {
          color: #e84545 !important; }
        .site-nav .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 180px; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li.active > a {
            color: #e84545 !important; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 5px 20px;
            display: block; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              color: #e84545; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown li a:hover, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul li a:hover {
              color: #e84545; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            color: #e84545; }
      .site-nav .site-navigation .site-menu .has-children:hover > a, .site-nav .site-navigation .site-menu .has-children:focus > a, .site-nav .site-navigation .site-menu .has-children:active > a {
        color: #ffffff; }
      .site-nav .site-navigation .site-menu .has-children:hover, .site-nav .site-navigation .site-menu .has-children:focus, .site-nav .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-nav .site-navigation .site-menu .has-children:hover > .dropdown, .site-nav .site-navigation .site-menu .has-children:focus > .dropdown, .site-nav .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu-close {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 99;
  cursor: pointer;
  top: -20px; }
  .site-mobile-menu-close > span {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px; }
    .site-mobile-menu-close > span:before, .site-mobile-menu-close > span:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 30px;
      background: #000000; }
    .site-mobile-menu-close > span:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .site-mobile-menu-close > span:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #ffffff;
  height: calc(100vh);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1); }
  .offcanvas-menu .site-mobile-menu {
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 5px 20px;
      display: block;
      position: relative;
      color: #000000; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #e84545; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #e84545; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 14px;
        z-index: 20;
        font-family: "icomoon";
        content: "\e313";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 14px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 14px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 14px;
                padding-left: 60px; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar .site-menu-toggle {
    color: #000000; }
  .sticky-wrapper .site-navbar .site-logo a {
    color: #000000; }
  .sticky-wrapper .site-navbar .site-menu > li > a {
    color: rgba(0, 0, 0, 0.8) !important; }
    .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
      color: #000000 !important; }
  .sticky-wrapper.is-sticky .burger:before, .sticky-wrapper.is-sticky .burger span, .sticky-wrapper.is-sticky .burger:after {
    background: #000000;
    -webkit-transition: .0s all ease;
    -o-transition: .0s all ease;
    transition: .0s all ease; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #000000;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #000000 !important; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
      color: #000000 !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
        color: #e84545 !important; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li.active a {
      color: #e84545 !important; }
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #d8dee1;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #f4f6f7;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #009cea !important;
}

@media (max-width: 767px) {
  .testimonials {
    margin: 30px 10px;
  }
}

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative; }

.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #000;
  border-radius: 2px;
  position: absolute;
  opacity: 1; }

.burger.light:before, .burger.light span, .burger.light:after {
  background-color: #ffffff; }

.burger:before, .burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: ""; }

.burger:before {
  top: 4px; }

.burger span {
  top: 15px; }

.burger:after {
  top: 26px; }

/* Hover */
.burger:hover:before {
  top: 7px; }

.burger:hover:after {
  top: 23px; }

/* Click */
.burger.active span {
  opacity: 0; }

.burger.active:before, .burger.active:after {
  top: 40%; }
.burger:focus {
  outline: none; }

.overlay-svg {
  background-image: url("../images/overlay.svg");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  top: 0;
  background-size: cover; }

.wrap-slider {
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  padding: 15px;
  margin-top: -150px;
  position: relative;
  background-color: #ffffff; }

.custom-feature {
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  text-align: center;
  padding: 30px;
  border-radius: 4px; }
  .custom-feature h3 {
    font-size: 18px;
    font-weight: bold; }
  .custom-feature p {
    font-size: 15px; }
  .custom-feature *:last-child {
    margin-bottom: 0; }
  .custom-feature [class^="icon-"] {
    display: block;
    margin-bottom: 30px;
    font-size: 50px;
    color: #e84545; }

.section-stack {
  position: relative; }
  .section-stack img {
    width: 100%;
    display: block; }
  .section-stack .image-stack::after {
    content: ' ';
    display: table;
    clear: both; }
  .section-stack .image-stack__item--top {
    float: left;
    width: 66%;
    margin-right: -100%;
    position: relative;
    z-index: 1; }
    .section-stack .image-stack__item--top img {
      border: 4px solid #ffffff;
      -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1); }
  .section-stack .image-stack__item--bottom {
    float: right;
    width: 75%; }
  @supports ((display: -ms-grid) or (display: grid)) {
    .section-stack .image-stack {
      display: -ms-grid;
      display: grid;
      position: relative;
      grid-template-columns: repeat(12, 1fr); }
    .section-stack .image-stack__item--bottom {
      grid-column: 4 / -1;
      -ms-grid-row: 1;
      grid-row: 1;
      width: 100%; }
    .section-stack .image-stack__item--top {
      -ms-grid-row: 1;
      grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 8;
      grid-column: 1 / span 8;
      padding-top: 20%;
      width: 100%; } }

.service {
  display: block; }
  .service img {
    margin-bottom: 30px;
    border-radius: 4px; }
  .service h3 {
    font-size: 18px; }
  .service p {
    color: #7a7a7a; }

.site-cover-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .site-cover-2.overlay {
    position: relative; }
    .site-cover-2.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4); }

.pricing {
  background: #ffffff;
  padding: 30px; }
  .pricing .price > span {
    color: #cccccc; }
    .pricing .price > span > span {
      font-size: 3rem;
      color: #e84545; }
  .pricing ul li {
    margin-bottom: 20px; }

.ul-check {
  margin-bottom: 50px; }
  .ul-check li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before {
    color: #000000; }
  .ul-check.success li:before {
    color: #28a745; }
  .ul-check.primary li:before {
    color: #e84545; }

.site-section {
  padding: 5rem 0; }

.hero {
  padding: 70px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .hero.fixed-attachment {
    background-attachment: fixed; }
  .hero.overlay {
    position: relative; }
    .hero.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2); }
  .hero, .hero > .container > .row {
    height: 100vh;
    min-height: 600px; }
  .hero h1 {
    font-size: 34px;
    color: #000839; }
    @media (max-width: 991.98px) {
      .hero h1 {
        font-size: 30px; } }
  .hero figure {
    position: relative; }
  .hero .quote {
    padding: 50px;
    background: #000839;
    color: #ffffff;
    width: 100%;
    bottom: -20px;
    left: -50px;
    position: absolute; }

.feature.d-flex .icon-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  margin-right: 15px; }

.feature .icon-wrap {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(232, 69, 69, 0.2);
  z-index: -1; }
  .feature .icon-wrap [class^="icon-"] {
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #e84545;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .feature .icon-wrap span {
    font-size: 30px;
    text-align: center; }

.feature h3 {
  font-size: 14px;
  font-weight: 700; }

.feature p {
  color: rgba(0, 8, 57, 0.5);
  font-size: 14px; }

.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.7); }
  .site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%; }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(100vh); }
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
    min-height: 400px;
    height: calc(20vh); }
  .site-blocks-cover h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    font-weight: 900; }
    @media (max-width: 991.98px) {
      .site-blocks-cover h1 {
        font-size: 2rem; } }
  .site-blocks-cover p {
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300; }
  .site-blocks-cover a {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: dotted 1px #ffffff; }
    .site-blocks-cover a:hover {
      color: #ffffff; }
  .site-blocks-cover .btn {
    color: #ffffff; }
    .site-blocks-cover .btn:hover {
      border-color: #ffffff;
      background-color: #ffffff;
      color: #e84545; }
  .site-blocks-cover .desc {
    font-size: 1.4rem;
    font-weight: 300; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }
  @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem; } }

.site-cover-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }
  .site-cover-2.overlay {
    position: relative; }
    .site-cover-2.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4); }

.count-numbers .number {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff; }

.count-numbers span {
  color: rgba(255, 255, 255, 0.7); }

.how-it-works {
  margin-bottom: 70px; }
  .how-it-works .step {
    padding: 20px 70px 0 0;
    position: relative; }
    .how-it-works .step .icon-wrap {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #e84545; }
      .how-it-works .step .icon-wrap > span {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .how-it-works .step h3 {
      font-size: 16px;
      font-weight: 700; }
    .how-it-works .step p {
      font-size: 14px; }

.trusted-by-companies {
  padding: 0rem 0 4rem 0;
  text-align: center; }
  .trusted-by-companies h2 {
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 700; }

.pro {
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2; }

.pricing {
  text-align: center; }
  .bg-white .pricing .price > span {
    color: #000000; }
    .bg-white .pricing .price > span > span {
      font-size: 3rem;
      color: #000000; }
  .bg-white .pricing ul {
    text-align: left; }
    .bg-white .pricing ul li {
      color: #000000;
      margin-bottom: 20px; }
      .bg-white .pricing ul li:before {
        color: #000000 !important; }
    .bg-white .pricing ul li.remove {
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.4); }
      .bg-white .pricing ul li.remove:before {
        color: rgba(0, 0, 0, 0.4); }
  .pricing .price > span > span {
    font-size: 3rem; }
  .pricing ul {
    text-align: left; }
    .pricing ul li {
      margin-bottom: 20px; }
    .pricing ul li.remove {
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.4); }
      .pricing ul li.remove:before {
        color: rgba(0, 0, 0, 0.4); }

/*--------- Start Portfolio Area -------------*/
.portfolio-area .primary-btn {
  color: #ffffff;
  background-color: #e84545;
  margin-left: auto;
  margin-right: auto; }

.portfolio-area .filters {
  text-align: center; }

.portfolio-area .filters ul {
  padding: 0; }

.portfolio-area .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 18px 15px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  color: #000000;
  font-size: 12px;
  font-weight: 500; }
  @media (max-width: 736px) {
    .portfolio-area .filters ul li {
      padding: 6px 6px; } }

.portfolio-area .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #333;
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out; }

.portfolio-area .filters ul li:hover:after {
  width: calc(100% - 60px);
  -webkit-transition: width 350ms ease-out;
  -o-transition: width 350ms ease-out;
  transition: width 350ms ease-out; }

.portfolio-area .filters ul li.active {
  color: #e84545; }

.portfolio-area .filters-content {
  margin-top: 50px; }

.portfolio-area .filters-content .show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms; }

.portfolio-area .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms; }

.portfolio-area .filters-content .item {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px; }

.portfolio-area .filters-content .item img {
  border-radius: 10px; }

.portfolio-area .filters-content .p-inner {
  padding: 20px 0px;
  text-align: center; }

.portfolio-area .filters-content .item .p-inner .cat {
  font-size: 13px; }

.portfolio-area .filters-content .item img {
  width: 100%; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.middle {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.isotope-card:hover .middle {
  opacity: 1; }

.isotope-card {
  border-radius: 5px;
  overflow: hidden; }
  .isotope-card > a {
    overflow: hidden;
    position: relative;
    display: block; }
    .isotope-card > a:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      height: 100%;
      z-index: 2;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      background: rgba(0, 0, 0, 0.5); }
    .isotope-card > a img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .isotope-card > a:hover:before {
      visibility: visible;
      opacity: 1; }
    .isotope-card > a:hover img {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    .isotope-card > a:hover .contents {
      z-index: 3;
      opacity: 1;
      visibility: visible; }
      .isotope-card > a:hover .contents h3 {
        color: #ffffff; }
  .isotope-card .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }

.thumb .overlay-bg {
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .thumb .overlay-bg {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.filters {
  text-align: center; }
  .filters ul {
    padding: 0;
    margin: 0 0 30px 0; }
    .filters ul li {
      display: inline-block;
      cursor: pointer;
      padding: 20px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .filters ul li:hover {
        color: #e84545; }
      .filters ul li.active {
        color: #e84545; }

.isotope-card {
  margin-bottom: 30px;
  display: block; }
  .isotope-card .relative {
    margin-bottom: 20px; }
  .isotope-card .contents h3 {
    color: #ffffff;
    font-size: 18px; }
  .isotope-card .contents .cat {
    color: #b3b3b3; }

.no-nav .owl-nav {
  display: none; }

.main-slider .owl-dots, .custom-slider .owl-dots {
  bottom: -50px; }

.main-slider .owl-nav, .custom-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (max-width: 767.98px) {
    .main-slider .owl-nav, .custom-slider .owl-nav {
      display: none; } }
  .main-slider .owl-nav .owl-prev, .main-slider .owl-nav .owl-next, .custom-slider .owl-nav .owl-prev, .custom-slider .owl-nav .owl-next {
    position: absolute;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.2); }
    .main-slider .owl-nav .owl-prev span, .main-slider .owl-nav .owl-next span, .custom-slider .owl-nav .owl-prev span, .custom-slider .owl-nav .owl-next span {
      display: block;
      background: #ffffff;
      padding: 15px; }
    .main-slider .owl-nav .owl-prev:hover, .main-slider .owl-nav .owl-next:hover, .custom-slider .owl-nav .owl-prev:hover, .custom-slider .owl-nav .owl-next:hover {
      -webkit-box-shadow: 0 7px 15px -5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 7px 15px -5px rgba(0, 0, 0, 0.2); }
  .main-slider .owl-nav .owl-prev, .custom-slider .owl-nav .owl-prev {
    left: -30px; }
  .main-slider .owl-nav .owl-next, .custom-slider .owl-nav .owl-next {
    right: -30px; }
    .main-slider .owl-nav .owl-next > span, .custom-slider .owl-nav .owl-next > span {
      position: relative;
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }

.services-section {
  background: #f8f9fa;
  padding: 70px 0; }

.img-wrap-2 {
  margin-top: -120px;
  position: relative; }
  .img-wrap-2 .dotted:before {
    position: absolute;
    content: "";
    background-image: url("../images/dotted.png");
    height: 273px;
    width: 313px;
    z-index: -1;
    bottom: -50px;
    left: -50px; }

.blog-entries-section {
  padding: 70px 0;
  background: #f8f9fa; }

.post-entry {
  padding: 20px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  background: #ffffff;
  position: relative;
  top: 0;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .post-entry .date {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 8, 57, 0.5); }
  .post-entry h3 {
    font-size: 16px;
    font-weight: 700; }
    .post-entry h3 a {
      color: #000839; }
  .post-entry p {
    font-size: 14px; }
  .post-entry *:last-child {
    margin-bottom: 0; }
  .post-entry:hover, .post-entry:focus {
    top: -5px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05); }

.service-2.no-shadow.link {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.service-2 .service-icon {
  font-size: 24px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  position: relative;
  color: #e84545;
  background-color: #ffffff; }
  .service-2 .service-icon > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.service-2 .service-contents h3 {
  font-size: 16px;
  color: #000000; }

.service-2.horizontal .service-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  font-size: 20px; }

.service-2.link {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 7px; }
  .service-2.link .service-contents {
    color: #939393; }
    .service-2.link .service-contents *:last-child {
      margin-bottom: 0; }
  .service-2.link:hover, .service-2.link.active {
    background: #ffffff;
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.05); }
    .service-2.link:hover .service-icon, .service-2.link.active .service-icon {
      background-color: #f8f9fa;
      color: #000000; }
  .service-2.link.active {
    position: relative;
    overflow: hidden; }
    .service-2.link.active .service-icon {
      color: #ffffff;
      background-color: #e84545; }

.section-grey {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f5f5; }
  @media (max-width: 991.98px) {
    .section-grey .img-wrap .img {
      margin-top: 0; } }

.team h3 {
  font-size: 20px; }

.team .pic {
  margin-bottom: 30px; }
  .team .pic img {
    border-radius: 4px; }

.team .position {
  display: block;
  margin-bottom: 20px;
  font-size: 14px; }

.slider-team-wrap .owl-dots {
  position: absolutre;
  margin-top: 30px; }

.slider-team-wrap .slider-nav a {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  background: #e84545;
  border-radius: 4px;
  position: relative;
  top: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease; }
  .slider-team-wrap .slider-nav a span {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .slider-team-wrap .slider-nav a:hover {
    background: #ffffff;
    top: -2px; }
    .slider-team-wrap .slider-nav a:hover span {
      color: #e84545; }

.more {
  position: relative;
  padding-right: 30px;
  display: inline-block; }
  .more span {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: transparent;
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .more:hover {
    color: #ffffff; }
    .more:hover span {
      background: #e84545; }
  .more.dark {
    color: #000000; }
    .more.dark > span {
      color: #000000; }
    .more.dark:hover {
      color: #e84545; }
      .more.dark:hover span {
        color: #ffffff;
        background: #e84545; }

.article {
  margin-bottom: 90px; }
  @media (max-width: 991.98px) {
    .article {
      margin-bottom: 50px; } }
  .article .share {
    top: 20px; }
    .article .share h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 12px; }
      @media (max-width: 991.98px) {
        .article .share h3 {
          display: inline-block; } }
    .article .share .share-article {
      width: 100%; }
      .article .share .share-article li {
        width: 100%;
        display: block;
        margin-bottom: 10px; }
        @media (max-width: 991.98px) {
          .article .share .share-article li {
            display: inline !important; } }
        .article .share .share-article li a {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: relative;
          color: #000000;
          border: 1px solid #efefef; }
          @media (max-width: 991.98px) {
            .article .share .share-article li a {
              display: inline-block !important; } }
          .article .share .share-article li a span {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.comment-form-wrap {
  clear: both; }

.comment-list {
  padding: 0;
  margin: 0; }
  .comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%; }
  .comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none; }
    .comment-list li .vcard {
      width: 80px;
      float: left; }
      .comment-list li .vcard img {
        width: 50px;
        border-radius: 50%; }
    .comment-list li .comment-body {
      float: right;
      width: calc(100% - 80px); }
      .comment-list li .comment-body h3 {
        font-size: 20px; }
      .comment-list li .comment-body .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc;
        margin-bottom: 20px; }
      .comment-list li .comment-body .reply {
        padding: 7px 12px;
        background: #cccccc;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 30px;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: .1rem; }
        .comment-list li .comment-body .reply:hover {
          color: #ffffff;
          background: #8c8c8c; }

.categories_tags {
  font-weight: bold; }

.post-single-navigation a {
  line-height: 1.5;
  border: 1px solid #efefef;
  background-color: transparent;
  padding: 30px;
  width: 48% !important;
  border-radius: 4px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: inline-block; }
  .post-single-navigation a span {
    margin-bottom: 10px;
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4); }

.section-latest {
  padding-top: 100px;
  padding-bottom: 100px !important; }

.floating-block {
  background: #ffffff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 20px;
  top: 20px; }
  .floating-block h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0; }
  .floating-block h3 {
    font-size: 13px; }

.hero-slant {
  background-color: #ccc;
  position: relative;
  background-size: cover; }
  .hero-slant.overlay {
    position: relative; }
    .hero-slant.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2); }
  .hero-slant .container {
    position: relative; }
  .hero-slant, .hero-slant > .container > .row {
    height: 120vh; }
  .hero-slant .sign-up-form {
    padding: 10px;
    border-radius: 7px;
    background: #ffffff;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1); }
    .hero-slant .sign-up-form .form-control {
      border: none; }
      .hero-slant .sign-up-form .form-control:active, .hero-slant .sign-up-form .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .hero-slant .sign-up-form input[type="submit"] {
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
      border-radius: 7px; }
  .hero-slant .intro {
    position: relative;
    z-index: 2;
    max-width: 500px; }
  .hero-slant .hero_img {
    position: absolute;
    right: 0;
    z-index: 9;
    bottom: 100px; }
    @media (max-width: 991.98px) {
      .hero-slant .hero_img {
        position: relative;
        margin-top: -200px;
        bottom: -100px;
        margin-bottom: 140px; } }
  .hero-slant .slant {
    position: absolute;
    width: calc(100% + 2px);
    height: 380px;
    bottom: -2px;
    left: -2px;
    z-index: 1;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat; }

.pricing-section {
  padding: 70px 0; }
  @media (max-width: 991.98px) {
    .pricing-section {
      padding: 30px 0; } }
  .pricing-section .save-percent {
    font-size: 10px;
    background: #e84545;
    padding: 4px 10px;
    font-weight: 700;
    border-radius: 30px;
    color: #ffffff; }
  .pricing-section .period {
    font-size: 14px; }
  .pricing-section .period-toggle {
    width: 100px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    background: #ccc;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .pricing-section .period-toggle:before {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      content: "";
      position: absolute;
      left: 1px;
      height: 28px;
      width: 28px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 50%;
      background: #ffffff;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }
    .pricing-section .period-toggle.active:before {
      left: 71px; }
  .pricing-section .pricing-item {
    padding: 70px 30px;
    text-align: center; }
    .pricing-section .pricing-item h3 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 30px; }
    .pricing-section .pricing-item .description {
      margin-bottom: 20px; }
    .pricing-section .pricing-item.active {
      background: #ffffff;
      -webkit-box-shadow: 0 10px 30px -7px rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 30px -7px rgba(0, 0, 0, 0.1);
      border-radius: 7px; }
      .pricing-section .pricing-item.active h3 {
        color: #e84545; }
    .pricing-section .pricing-item ul {
      text-align: left; }
      .pricing-section .pricing-item ul li {
        line-height: 1.4;
        margin-bottom: 8px; }
    .pricing-section .pricing-item .price-wrap {
      display: block;
      color: #e84545;
      font-weight: 700;
      font-size: 30px;
      line-height: 1.5; }
      .pricing-section .pricing-item .price-wrap > div {
        height: 46px;
        overflow: hidden; }
      .pricing-section .pricing-item .price-wrap > .price > div {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .pricing-section .pricing-item .period-wrap {
      font-size: 16px; }
      .pricing-section .pricing-item .period-wrap .period {
        height: 27px;
        line-height: 27px;
        overflow: hidden;
        font-size: 16px; }
        .pricing-section .pricing-item .period-wrap .period > div {
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
    .pricing-section .pricing-item.yearly .price-wrap > .price > div {
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .pricing-section .pricing-item.yearly .period-wrap > .period > div {
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.unit-4 .unit-4-icon {
  position: relative; }
  .unit-4 .unit-4-icon span {
    font-size: 3rem;
    color: #e84545; }
  .unit-4 .unit-4-icon:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    opacity: .2;
    z-index: -1;
    top: 10px;
    left: -20px; }

.unit-4 h3 {
  font-size: 20px;
  color: #000000; }

.testimonial-section {
  padding: 70px 0; }
  @media (max-width: 991.98px) {
    .testimonial-section {
      padding: 30px 0; } }

.testimonial--wrap {
  padding: 40px 40px 70px 40px;
  background: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05); }
  .testimonial--wrap .owl-dots {
    bottom: -55px; }

.testimonial-item .photo img {
  max-width: 80px;
  border-radius: 50%; }

.testimonial-item .author {
  line-height: 1.4; }
  .testimonial-item .author cite {
    font-weight: 700;
    font-style: normal; }

.testimonial-item blockquote {
  font-size: 20px;
  color: #000000; }
  .testimonial-item blockquote, .testimonial-item blockquote *:last-child {
    margin-bottom: 0; }

.custom-nav-wrap {
  position: relative;
  margin-top: 20px; }
  .custom-nav-wrap .custom-owl-prev,
  .custom-nav-wrap .custom-owl-next {
    z-index: 2;
    position: absolute;
    font-size: 20px;
    color: #000000;
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #efefef; }
    .custom-nav-wrap .custom-owl-prev span,
    .custom-nav-wrap .custom-owl-next span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .custom-nav-wrap .custom-owl-prev:hover,
    .custom-nav-wrap .custom-owl-next:hover {
      border-color: #000000; }
  .custom-nav-wrap .custom-owl-next {
    left: 50px;
    position: relative;
    position: absolute;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.blog_entry {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative; }
  .blog_entry img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .blog_entry h3 {
    font-size: 18px; }
    .blog_entry h3 a {
      color: #000000; }
  .blog_entry .date {
    color: #999999;
    display: block;
    font-size: .9rem;
    margin-bottom: 15px; }
  .blog_entry .more a {
    position: relative;
    color: #e84545;
    padding-bottom: 10px; }
  .blog_entry:hover {
    -webkit-box-shadow: 0 15px 30px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px -7px rgba(0, 0, 0, 0.2); }

.owl-logos .owl-nav {
  display: none; }

.owl-logos img {
  margin: 0; }

.features-lg .feature {
  padding: 70px 0; }
  @media (max-width: 991.98px) {
    .features-lg .feature {
      padding: 30px 0; } }

.custom-accordion .accordion-item {
  background-color: #f9f9f9;
  margin-bottom: 0px;
  position: relative;
  border-radius: 0px;
  overflow: hidden; }
  .custom-accordion .accordion-item .btn-link {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    text-align: left;
    color: #999;
    border: none;
    padding-left: 40px;
    border-radius: 0;
    position: relative;
    background: #ffffff; }
    .custom-accordion .accordion-item .btn-link:before {
      font-family: 'icomoon';
      content: "\f196";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 15px; }
    .custom-accordion .accordion-item .btn-link[aria-expanded="true"] {
      font-weight: 700;
      color: #e84545; }
      .custom-accordion .accordion-item .btn-link[aria-expanded="true"]:before {
        font-family: 'icomoon';
        content: "\f147";
        position: absolute;
        color: #e84545;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .custom-accordion .accordion-item.active {
    z-index: 2; }
    .custom-accordion .accordion-item.active .btn-link {
      color: #e84545;
      -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1); }
  .custom-accordion .accordion-item .accordion-body {
    padding: 20px 20px 20px 20px;
    color: #888; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px; }
  .control .caption {
    position: relative;
    top: -3px;
    font-size: 16px; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #e84545; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #eb5c5c; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 14px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #e84545;
  opacity: .2; }

.gal-item {
  display: block;
  margin-bottom: 8px; }
  .gal-item img {
    border-radius: 4px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 1; }
  .gal-item:hover img {
    opacity: .5; }

.social-icons li {
  display: inline-block; }
  .social-icons li a {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
    background: #303030; }
    .social-icons li a span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .social-icons li a:hover {
      color: #ffffff; }
  .social-icons li:first-child a {
    padding-left: 0; }

.social-icons.light li a {
  color: #000000;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  background: #f8f9fa; }

.video-wrap {
  position: relative; }
  .video-wrap .play-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .video-wrap .play-wrap > span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .video-wrap:hover .play-wrap {
    width: 60px;
    height: 60px; }

.owl-single.dots-absolute .owl-dots {
  bottom: 40px; }
  .owl-single.dots-absolute .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.5); }

.owl-single .owl-dots {
  text-align: center;
  position: absolute;
  width: 100%; }
  .owl-single .owl-dots .owl-dot {
    display: inline-block;
    margin: 5px; }
    .owl-single .owl-dots .owl-dot span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.2); }
    .owl-single .owl-dots .owl-dot.active span {
      background: #e84545; }

.testimonial {
  max-width: 500px;
  text-align: center;
  margin-bottom: 30px; }
  .testimonial .name {
    font-size: 18px;
    color: #000000; }
  .testimonial .img-wrap img {
    margin: 0 auto;
    width: 70px;
    border-radius: 50%; }

.list-check li {
  display: block;
  padding-left: 30px;
  position: relative; }
  .list-check li:before {
    content: "\e5ca";
    font-family: 'icomoon';
    position: absolute;
    top: -.3rem;
    font-size: 20px;
    left: 0; }

.list-check.primary li:before {
  color: #e84545; }

.site-footer {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 15px; }
  @media (max-width: 991.98px) {
    .site-footer {
      padding-top: 30px; } }
  .site-footer a {
    color: #000000; }
    .site-footer a:hover {
      color: #e84545; }
  .site-footer .widget {
    margin-bottom: 30px; }
    .site-footer .widget h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 30px; }
    .site-footer .widget .social li {
      display: inline-block; }
      .site-footer .widget .social li a {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background: #f8f9fa;
        display: inline-block;
        position: relative;
        color: black; }
        .site-footer .widget .social li a span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .site-footer .widget .social li a:hover {
          color: #e84545; }
    .site-footer .widget .links li {
      display: block;
      margin-bottom: 10px; }
      .site-footer .widget .links li a {
        color: #000000; }
        .site-footer .widget .links li a:hover {
          color: #e84545; }
  .site-footer .copyright {
    position: relative;
    padding-top: 40px;
    margin-top: 40px; }
    .site-footer .copyright:before {
      top: 0;
      position: absolute;
      left: 15px;
      right: 15px;
      content: "";
      height: 1px;
      background: #ebedee; }
